{% extends "base.html" %}
{% block content %}

<form action="/cities/{{city.id}}" method="post">
  

    <h2>Update city</h2>

<form action="/cities/" method="post">

 
    <label for="city">City:</label>
    <input type="text" id="city" name="city" value="{{city.name}}" required>
  


  
    <label for="country">Country</label>
    <select  name="country_id" id="country">
      {% for country in all_countries %}
        <option value="{{ country.id }}" {% if country.id == city.country.id %} selected {% endif %}>
        {{ country.name }}
      </option>
        {% endfor %}
      </select>
 

      <label for="visited">Have you visited yet?</label>
      <select name="visited" id="visited">
        <option value="True" {% if city.visited == True %} selected {% endif %}>Yes</option>
        <option value="False" {% if city.visited == False %} selected {% endif %}>No</option>




      </select>





    </div class= "buttons">
  <button type="submit">Update City</button>
</div>
</form>

{% endblock %}