{% extends "base.html" %}
{% block content %}

<form action="/cities/{{city.id}}" method="post">
  

    <h2>Update city</h2>

<form action="/cities/" method="post">

  <div>
    <label for="city">City:</label>
    <input type="text" id="city" name="city" value="{{city.name}}" required>
  </div>



  <div>
    <label for="country">Country</label>
    <select id="country" name="country_id">
      {% for country in all_countries %}
        <option value="{{ country.id }}">{{ country.name }}</option>
      {% endfor %}
    </select>
  </div>

  <button type="submit">Update City</button>

</form>

{% endblock %}