{% extends "base.html" %}
{% block content %}

<h2>Here are the list of cities on my bucket list:</h2>
<h3>Click on a city to update</h3>

<!-- <h3><a href="/cities/new">Add a new city to List</a></h3> -->
<div class="buttons">
<form action="/cities/new">
<input type="submit" value="add new city">
</form>

</div>
<br>
<br>

<table>
  <tr>
    <th>City</th>
    
    <th>Country</th>
    
    <th>Visited?</th>
    <th>Delete</th>
  </tr>
  {% for city in all_cities %}
  <tr>
    <td><a href="/cities/{{city.id}}">{{city.name}}</a></td>

    <td>{{city.country.name}}</td>
    <td>
      {% if city.visited == True %}
      <span> &#9989;</span>
      {% else %}
      <span> &#x274C; </span>

      {% endif %}

    </td>
    <td>
    </div class= "buttons">
      <form action="/cities/{{ city.id }}/delete" method="POST">
        <input type="submit" value="delete" />
      </form>
      </div>
    </td>
  </tr>



  </div>
  {% endfor %}

</table>

{% endblock %}