{% extends "base.html" %}
{% block content %}

<form action="/visits" method="post">

  <div>
    <label for="city">City:</label>
    <input type="text" id="city" name="city" placeholder="City" required autofocus>
  </div>


  <div>
    <label for="country">Country</label>
    <select id="country" name="country_id">
      {% for country in all_countries %}
        <option value="{{ country.id }}">{{ country.name }}</option>
      {% endfor %}
    </select>
  </div>

  <button type="submit">Add Destination</button>

</form>

{% endblock %}
