.menu{
    display: flex;
    padding: 10px;
    background-color:darkcyan;
    color: white;
  }
  
  .menu li a{
    text-decoration: none;
  }
  
.menu li a:visited{
    color: white;
  }
  
  .menu li{
    padding-right: 20px;
    list-style: none;
    color: white;
    font-family: "Helvetica", arial, sans-serif; font-size: 20px;
  }


  /* .container {
    display: flex;
    flex-wrap: wrap;
    width: 3000px;
    margin: 10 auto;
  } */

h1 {
  color:white;
  font-family: "Helvetica", arial, sans-serif;
  padding: 10PX;
  
}

h2,h3 {
  color: white;
  font-family: "Helvetica", arial, sans-serif; 
  
}
.city {
    color:darkcyan;
    font-size: 20px;
    margin-left: 20px;
  }

.country{
    color: #8899a6;
    font-size: 20px;
    margin-left: 20px;
  }
  
  
  

  #home-image {
    width:300px;
    height:300px;
    
    background-image: url('images/urhUkQ2-palm-tree-beach-wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin : 50px ;
    padding: 150px ;
  }


  td, th {
    text-align: left;
  }
  
  td {
    padding: 10px 20px 0px 0px;
  }
  
  th {
    padding: 0px 20px 10px 0px;
    border-bottom: 1px solid papayawhip;
    
  }
  
  table {
    border-collapse: collapse;
  }

  body {
    background-color:skyblue;
  }

  /* .buttons {
    background-color: #4CAF50; /* Green */
    /* border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  } */ 