.menu{
    display: flex;
    padding: 10px;
    background-color:darkcyan;
    color: white;
  }
  
  .menu li a{
    text-decoration: none;
  }
  
.menu li a:visited{
    color: white;
  }
  
  .menu li{
    padding-right: 20px;
    list-style: none;
    color: white;
    font-family: "Helvetica", arial, sans-serif; font-size: 20px;
  }


  /* .container {
    display: flex;
    flex-wrap: wrap;
    width: 3000px;
    margin: 10 auto;
  } */

h2,h3 {
    color:navy;
}
.city {
    color:darkcyan;
    font-size: 20px;
    margin-left: 20px;
  }

.country{
    color: #8899a6;
    font-size: 20px;
    margin-left: 20px;
  }
  
  
  

  #home-image {
    width:800px;
    height:800px;
    background-image: url('images/palmtree_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin : 50px ;
    padding: 50px ;
  }


  td, th {
    text-align: left;
  }
  
  td {
    padding: 10px 20px 0px 0px;
  }
  
  th {
    padding: 0px 20px 10px 0px;
    border-bottom: 1px solid papayawhip;
  }
  
  table {
    border-collapse: collapse;
  }

  body {
    background-color:lightgray;
  }